<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tema3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tema3">
        <activity
            android:name=".activities.AuthenticationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/dashboard_activity_name"
            android:screenOrientation="sensor" />
        <activity
            android:name=".activities.TopicsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/topics_activity_name"
            android:screenOrientation="sensor" />
        <activity
            android:name=".activities.ManagementActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/management_activity_name"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.Tema3.NoActionBar" />

        <receiver
            android:name=".services.MyAlarm"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>